.row{
    vertical-align: top;
}

.col-Base{
    width: 32%;
    float: left;
}
.sharedCol{
    float: left;
    width: 50%;
}
.container-Header{
    margin: auto;
    padding-bottom: 100px;
    min-width: 500px;
    max-width: 800px;
}
.container-Body{
    min-height: max-content;
    min-width: 400px;
    max-width: 700px;
    margin: auto;
    display: block;
    padding: 50px;
   
}

.center-Button{
    text-align: center;
    width: 20%;
}
.dark{
    background-color: black;
    color: white;
}

.light{
    background-color: honeydew;
    color: black;
}
.border{
    border: cyan;
    border-radius: 15px;
    border-style: groove;
}
.border2{
    border:cyan;
    border-radius: 15px;
    border-style: groove;
}

.invis{
    visibility: hidden;
}
.display{
    display: none;
}

.float-Right{
    float: right;
}
.float-Left{
    float: left;
}
.textCenter{
    text-align: center;
}

body{
    background-color: grey;
}
span{
    font-size: 30px;
    position: fixed;
    right: 50px;
    top: 25px;
}

p {
    text-indent: 0.5in;
    font-size: larger;
}
form input{
    margin-bottom: 10px;
}
footer{
    position: fixed;
    left: 0;
    width: 100%;
    bottom: 0;

}